body {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.play,
.pause {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 35px;

}

.play-circle-img {
    visibility: visible;
    width: 2.5vw;

}

.pause-circle-img {
    visibility: hidden;
    margin-left: -5.32vw;
    width: 2.5vw;
}

.replaybutt {
    cursor: pointer;
    width: 1.7vw;
    margin-left: 0.4vw;

}

.replayplaylistt {
    cursor: pointer;
    width: 1.7vw;
    margin-left: -2.2vw !important;
    visibility: hidden;
}

.replayonesong {
    cursor: pointer;
    width: 1.7vw;
    margin-left: -2.7vw !important;
    visibility: hidden;
}

.mcpause {
    margin-left: -2.62vw;
    visibility: hidden;
    cursor: pointer;
}

.mcplay {
    margin-left: 0vw;
    cursor: pointer;
}

.prevsong,
.nextsong {
    margin-bottom: 0.2vw;
    cursor: pointer;
}

.prevsong {
    margin-right: 1vw;
}

.nextsong {
    margin-left: 1vw;
}

.shuffle {
    width: 1.8vw;
    cursor: pointer;
}

.shuffleon {
    visibility: hidden;
    margin-left: -2vw;
}

.shuffleoff {
    margin-left: 1.5vw;
}



.title {
    border-bottom: 1px solid black;
    margin-bottom: 0.4vw;
    padding-bottom: 1.vw;
    padding-right: 1vw;
    margin-top: -0.6vw;
    cursor: pointer;

}

.sname {
    float: right;
    font-family: 'Nova Mono', monospace;
    font-size: 1.2vw;
    font-weight: bold;
}

.artist {
    font-size: 0.9vw;
    float: right;
}

#songnamemain {
    float: right;
}

#playbuts {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 40vw;
    overflow-x: hidden;
    border: 1px solid black;
    margin-right: 28vw;
    margin-left: 28vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0.8 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;

}

#musiccontrols {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10;
    text-align: center;
    margin-left: 3vw;
    padding: 1vw;
    width: 20vw;
    border-radius: 20px;
}

#titletrack,
#trackartist {
    font-family: 'Nova Mono';
    margin-left: 0.4vw;
}

#titletrack {
    font-weight: bolder;
}

#trackartist {
    font-size: 1.2vw;
}

#titletrack,
#counter {

    color: black;
    font-size: 1.6vw;

}

#counter {
    display: flex;
    margin-top: -1%;
    margin-left: 8.6vw;
}

.animationaud{
    display: flex;
    position: inherit;
    visibility: hidden;
}

.thebars {
    width: 10px;
    height: 60px;
    background-color: black;
    position: fixed;
    visibility: hidden;
    animation : bounce 4s ease infinite;
    &:nth-of-type(2) {
        animation-delay: -2s;
    }

    &:nth-of-type(3) {
        animation-delay: -1s;
    }
}

.bar1{
    margin-left: 0.6%;
}
.bar2{
    margin-left: 1.2%;
}

@keyframes bounce {
    10% {
        transform: scaleY(0.3);
        /* start by scaling to 30% */
    }

    30% {
        transform: scaleY(1);
        /* scale up to 100% */
    }

    60% {
        transform: scaleY(0.5);
        /* scale down to 50% */
    }

    80% {
        transform: scaleY(0.75);
        /* scale up to 75% */
    }
}